.retrivev-password{
	width: 100%;
	border-top: 1px solid  #FF2D52;
	margin-top: 100px
}

.password-word{
	width: 602px;
	margin: 100px auto;
}

.dian{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #CCCCCC;
	border: 1px solid #ebebeb;
	line-height: 24px;
	text-align: center;
	position: absolute;
	top: -10px;
	left: -10px;
}
.password-word-dh{
	margin-left: 85px;
}
.word-boder-list{
	margin-left: -20px;
}
.boder-list{
	margin-left: -28px;
}
.dian1{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #CCCCCC;
	border: 1px solid #ebebeb;
	line-height: 24px;
	text-align: center;
	margin-top: -10px;
	margin-left: 219px;
}
.word-boder-lists{
	margin-left: -63px;
}
.word-boder-lists span{
	display: inline-block;
	width: 150px;
}
.dian.on{
	background: #FF2D52;
	border: 1px solid #ffc0cb;
}
.password-word-boder{
	width: 220px;
	height: 3px;
	background: #cccccc;
	position: relative;
}
.password-word-verify{
	margin-top: 75px;
	margin-left: 123px;
}
.password-word-verify input{
	width: 306px;
	height: 40px;
	padding-left: 36px;
	font-size: 14px;
	background: url(../img/call1.png) no-repeat 10px center;
	border: 1px solid #E2E2E2;
}
.password-word-verify input:hover{
	border: 1px solid #FF2D52;
}
.word-verify-inp input{
	width: 180px;
	height: 40px;
	background: url(../img/yanz.png) no-repeat 10px center;
}
.word-verify-inp a{
	display: inline-block;
	width: 106px;
	height: 40px;
	line-height: 27px;
	text-align: center;
}
.word-verify-button{
	width: 306px;
	height: 40px;
	line-height: 27px;
	text-align: center;
	margin-left: 60px;
}
/* 设置新密码 */
.password-word-password{
	margin-top: 75px;
	margin-left: 15px;
	display: none;
}
.password-word-password input{
	width: 306px;
	height: 40px;
	padding-left: 36px;
	font-size: 14px;
	border: 1px solid #E2E2E2;
	background: url(../img/password.png) no-repeat 10px center;
}
.password-word-password .word-verify-inp{
	margin-left: -15px;
}
/* 完成 */
.password-complete{
	margin-top: 75px;
	margin-left: 15px;
	display: none;
}
